.main{
  height: 100%;
  // 头部
  .header{
    height: 56px;
    background-color: #157bf8;
    border-bottom: 1px solid #ccc;
  }
  // 左侧栏
  .left{
    float: left;
    width: 180px;
    height: 100%;
    background-color: red;
  }
  // 中间
  .center{
    height: 100%;
    margin-left: 180px;
    background-color: yellow;
  }
}
